* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
a {
  color: #666666;
  font-size: 12px;
}
